/*#top,#top_main,#nav,#main,#banner,#foot_box,#footer{*/
/*border: 1px solid black;*/
/*}*/
*{
    box-sizing: border-box;
}
body{
    font:14px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin: 0;
    padding: 0;
    list-style: none;
}
.lf{float: left}
.rt{float: right}
.clear{clear: both}
a{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #ff0700;
    text-decoration: underline;
}
#top,#top_main,#nav,#main,#banner,#foot_box,#footer{
    width: 1211px;
    margin: 0 auto;
}
/*????*/
#top{
    height: 30px;
    line-height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
}
#top>img{
    float: left;
    margin:9px 5px 0 3px;
}
#top>ul{
    float: right;
    padding-right: 5px;
}
#top>ul>li{
    float: left;
}
#top>ul>li>i{
    border-left: 1px solid #dddddd;
    margin: 0 8px;
}
#top li.vip a{
    padding-left: 29px;
    background: url("../images/vip.jpg") no-repeat 0 center;
}
#top li.bjd a{
    padding-left: 26px;
    background: url("../images/dakehu.jpg") no-repeat 0 center;
}
#top li.jd_mobile a{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding-left: 18px;
    background: url("../images/phone.jpg") no-repeat;
}
#top li.jd_mobile a:hover{
    background: url("../images/iconlist_2.png") no-repeat -128px -399px;
}
#top li.service>a{
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0 15px;
    border: 1px solid transparent;
    border-bottom:none;
    background: url("../images/jt_down.jpg") no-repeat 95% center;
}
/*/!*#top li.service .a_service:hover{*!/*/
/*/!*background: url("../images/jt_up.jpg") no-repeat 95% center;*!/*/
/*/!*border: 1px solid #ddd;*!/*/
/*/!*border-bottom: none;*!/*/
/*/!!*}*!/*/
/*????????#top li.service:hover>a??*/
#top li.service{
    position: relative;
    z-index: 100;
}
#top .service_items{
    background-color:#f7f7f7;
    width: 88px;
    position: absolute;
    top: 27px;
    left: 17px;
    border: 1px solid #ddd;
    border-top:none ;
    text-align: center;
    display: none;
    z-index: 1;
}
#top li.service:hover .service_items {
    display: block;
    z-index: 1;
}
#top li.service:hover>a{
    background: url("../images/jt_up.jpg") no-repeat 95% center;
    border: 1px solid #ddd;
    border-bottom: none;
}
/*logo*/
#top_main{
    padding: 10px 5px;
}
#search_box{
    width: 500px;
    margin: 0 80px 0 40px;
    float: left;
}
#search_box div.search{
    height: 36px;
    background-color: #e4393c;
    padding: 3px;
}
#search_box input{
    width: 410px;
    height: 30px;
    border: none;
    padding: 0 5px;
}
#search_box button{
    width: 78px;
    height: 28px;
    border: none;
    background-color: #e4393c;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
#search_box div.hot_words{
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    height: 16px;
    overflow: hidden;
}
#search_box div.hot_words a{
    color: #999;
}
#my_jd{
    float: left;
    border: 1px solid #efefef;
    height: 32px;
    line-height: 30px;
    padding-left: 27px;
    padding-right: 5px;
    background: #f7f7f7
    url("../images/iconlist_2.png") no-repeat -116px -25px;
    width:105px;
}
#my_jd:hover{
    background-color: white;
    cursor: pointer;
}
#my_jd i{
    border: 5px solid transparent;
    border-top-color: #ddd;
    position: relative;
    top: 13px;
}
#shopping{
    float: left;
    border: 1px solid #efefef;
    height: 32px;
    line-height: 30px;
    padding-left: 27px;
    padding-right: 5px;
    background: #f7f7f7
    url("../images/iconlist_2.png") no-repeat -116px -85px;
    width: 133px;
    position: relative;
    left: 20px;
}
#shopping:hover{
    background-color: white;
    cursor: pointer;
}
#shopping i{
    border: 5px solid transparent;
    border-top-color: #ddd;
    position: relative;
    top: 13px;
}
#nav{
    height: 40px;
    background: #e64346;
}
#nav>p{
    float: left;
    width: 210px;
    height: 40px;
    line-height: 40px;
    background-color:#cd2a2c;
}
#nav>p a{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding-left: 15px;
}
#nav_title li{
    float: left;
}
#nav_title li a{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
}
#nav_title li a:hover{
    background: #bd212c;
}
#nav p i{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    background: url("../images/iconlist_2.png") no-repeat -65px 0;
}
#banner{
    overflow: hidden;
}
#cate_box{
    float: left;
    width: 210px;
    height: 410px;
    border: 1px solid #cd2a2c;
    border-top: none;
    background: #fafafa;
    padding-top: 5px;
    position: relative;
}
/*#cate_box>li{*/
/*padding-left: 15px;*/
/*width: 196px;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*border-top: 1px solid transparent;*/
/*border-bottom: 1px solid white;*/
/*position: relative;*/
/*}*/
#cate_box>li>a{
    display: inline-block;
    padding-left: 15px;
    width: 196px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid white;
}
#cate_box>li>a:hover{
    background: white;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: relative;
    z-index: 20;
}
#cate_box>li:hover #sub_cate_box{
    display: block;
}
#sub_cate_box{
    display: none;
    width: 720px;
    min-height: 300px;
    background-color: white;
    border: 1px solid #dddddd;
    padding: 5px;
    position: absolute;
    left: 195px;
    top: 5px;
    z-index: 10;
}
#sub_cate_box div.close{
    width: 20px;
    height: 20px;
    background-color: #555;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
}
#cate_box div.sub_cate_items{
    float: left;
    min-height: 100px;
    width: 500px;
}
#cate_box div.sub_cate_items li{
    float: left;
    border-left: 1px solid #ddd;
    padding: 3px 5px;
    font-size: 12px;
}
#cate_box div.sub_cate_items ul{
    overflow: hidden;
    border-top: 1px solid #ddd;
    padding: 3px 0px;
}
#cate_box div.sub_cate_items li.title{
    text-decoration: underline;
    font-weight: bolder;
    text-align: right;
    width: 62px;
    border-left:none;
}
#cate_box div.sub_cate_items li.title a{
    color: #e64346;
}
#cate_box div.sub_cate_photo{
    padding-top: 10px;
    padding-left: 72%;
}
#cate_box div.sub_cate_txt{
    padding-top: 3px;
    padding-left: 72%;
}
#cate_box div.sub_cate_txt a{
    font-size: 12px;
}
#cate_box div.sub_cate_txt h5{
    color: #e64346;
}
#cate_box div.sub_cate_txt h5:hover{
    cursor: default;
}
img{
    vertical-align: bottom;
}
#slider_box{
    width: 670px;
    height:400px;
    float: left;
    margin: 10px 0 0 10px;
}
#slider{
    position: relative;
}
#slider li{
    float: left;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 19px;
    background-color: #555;
    text-align: center;
    margin-right: 10px;
}
#slider li:hover{
    cursor: pointer;
    background-color: #e4393c;
}
#slider ul{
    position: absolute;
    right: 15px;
    bottom: 10px;
}
#slider_banner{
    position: relative;
}
#slider_banner a.turn_left{
    float: left;
    background-image: url("../images/index/ad-arraw.png");
    width: 25px;
    height: 30px;
    position: absolute;
    top:65px;
    left: 5px;
}
#slider_banner a.turn_right{
    float: right;
    background:url("../images/index/ad-arraw.png") 0px 35px;
    width: 25px;
    height: 30px;
    position: absolute;
    top:63px;
    right:5px;
}
#slider_banner a:hover{
    background-image: url("../images/index/ad-arraw-hover.png");
}
#slider_banner ul{
    width: 670px;
    height: 160px;
    border: 1px solid #ddd;
    border-top: none;
    text-align: center;
    padding-left: 25px;
}
#slider_banner li img{
    padding-top: 10px;
}
#slider_banner li{
    float: left;
    width: 205px;
    height: 160px;
}
#slider_banner li.s_banner{
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
#paper_banner{
    float: right;
    width: 310px;
    height: 400px;
    margin-top: 10px;
}
#paper_banner p{
    width: 310px;
    height: 25px;
    line-height: 25px;
    margin-top: 13px;
    margin-bottom: 3px;
}
#paper_banner p b{
    font-size: 16px;
}
#paper_banner p a{
    float: right;
    color: cornflowerblue;
}
#paper_banner div.news{
    border: 1px solid #dddddd;
    border-top: 2px solid #aaa;
    padding: 4px 0;
    overflow: hidden;
}
#paper_banner div.news ul{
    width: 154px;
    padding: 0 10px;
    line-height: 25px;
    font-size: 12px;
}
#paper_banner ul.rt{
    border-left: 1px solid #ddd;
}
#paper_list{
    width: 310px;
    height: 169px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
}
#paper_list li{
    float: left;
    width: 77.25px;
    height: 83.5px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#paper_list b{
    display: block;
    width: 0px;
    height: 0px;
    border: 4px solid transparent;
    border-top-color: #ddd;
    margin: 2px auto;
}
#paper_list i{
    display: block;
    width: 39px;
    height: 35px;
    background: url("../images/index/virtuals-20140606.png") no-repeat;
    margin: 10px auto;
}
#paper_list a{
    display: block;
    text-align: center;
}
#paper_list li.list2 i{
    background-position: 0 -50px;
}
#paper_list li.list3 i{
    background-position: -127px 0;
}
#paper_list li.list4 i{
    background-position: -191px 0;
}
#paper_list li.list5 i{
    background-position: -63px 0;
}
#paper_list li.list6 i{
    background-position: -63px -46px;
}
#paper_list li.list7 i{
    background-position: -127px -50px;
}
#paper_list li.list8 i{
    background-position: -191px -46px;
}
#foot_box{
    overflow: hidden;
    border: 1px solid #dddddd;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    padding-top: 10px;
}
#foot_box li.title{
    font-weight: bold;
    margin: 8px 0;
}
#foot_box li.title:hover{
    cursor: default;
}
#foot_box li a{
    margin: 3px 0;
}
#foot_box>ul,#foot_box>img{
    float: left;
}
#foot_box>ul{
    width: 120px;
}
#foot_box>img{
    padding-left: 70px;
    padding-right: 10px;
    padding-bottom: 127px;
}
#footer{
    overflow: hidden;
    text-align: center;
}
#footer p.about_us,#footer div{
    margin: 10px auto;
    font-size: 14px;
}
#footer div img{
    margin: 10px;
}
#footer p{
    font-size: 12px;
}
#main{
    overflow: hidden;
}
#show_box p{
    margin: 10px 0;
}
#show_box p b{
    font-size: 22px;
}
#show_box p i{
    color: #999;
}
#show_img{
    overflow: hidden;
}
#show_img>li{
    float: left;
    width: 295px;
    height: 190px;
    margin: 0 0 10px 10px;
    /*过渡效果CSS3高级*/
    transition: background 0.3s linear;
    position: relative;
}
#show_img>li.no_margin{
    margin-left: 0;
}
#show_img li.show1{
    background: url("../images/index/show_01.jpg") no-repeat;
}
#show_img li.show2{
    background: url("../images/index/show_02.jpg") no-repeat;
}
#show_img li.show3{
    background: url("../images/index/show_03.jpg") no-repeat;
}
#show_img li.show4{
    background: url("../images/index/show_04.png") no-repeat;
}
#show_img li.show5{
    background: url("../images/index/show_05.jpg") no-repeat;
}
#show_img li.show6{
    background: url("../images/index/show_06.jpg") no-repeat;
}
#show_img li.show7{
    background: url("../images/index/show_07.jpg") no-repeat;
}
#show_img li.show8{
    background: url("../images/index/show_08.jpg") no-repeat;
}
#show_img>li:hover{
    background-position: -10px 0;
}
#show_img>li>b{
    display: block;
    height: 100%;
    width: 45%;
    background-color: #fff;
    opacity: 0.7;
    position: relative;
    z-index: 5;
}
#show_img>li>div{
    float: left;
    position: absolute;
    left: 15px;
    top: 25px;
    z-index: 10;
}
#show_img>li ul{
    float: left;
    margin-top: 30px;
}
#show_img>li.show4 ul{
    margin-top: 40px;
}
#show_img>li>div>h3{
    font-weight: normal;
    font-size: 14px;
}
#show_img>li>div>h4{
    font-weight: normal;
    font-size: 14px;
    color: #e64346;
}
#show_img>li>div>span{
    background-color: #e64346;
    color: white;
    font-size: 13px;
    padding: 0 3px;
}
#show_img>li.show4>div b{
    font-size: 18px;
    color: #e64346;
}
#show_3banner img.ad2{
    margin: 0 11.5px;
}
#main div.floor{
    margin: 10px 0;
}
#main div.floor header{
    height: 40px;
}
#main div.floor header span{
    float: left;
    width: 26px;
    height: 40px;
    border-bottom: 2px solid #aaa;
    background: url("../images/index/index_iconlist_01.png") no-repeat;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 2px;
}
#main div.floor header span:hover{
    background: url("../images/index/index_iconlist_01.png") -40px 0 no-repeat;
    cursor: pointer;
}
#main div.floor header p{
    float: left;
    height: 40px;
    width: 185px;
    border-bottom: 2px solid #aaa;
    line-height: 44px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
#main ul.tab li{
    float: left;
    height: 40px;
    width: 158px;
    text-align: center;
    line-height: 44px;
    border-bottom: 2px solid #aaa;
    font-size: 16px;
    font-weight: bold;
}
#main ul.tab li:hover{
    cursor: pointer;
    color: #e4393c;
    border-bottom: 2px solid #e43;
    background: url("../images/index/tab_arraw.png") no-repeat bottom;
}
#main ul.tab2 li{
    float: left;
    height: 40px;
    width: 105px;
    line-height: 44px;
    border-bottom: 2px solid #aaa;
    cursor: pointer;
}
#main ul.tab2 li a{
    color: #aaa;
    padding-right: 15px;
    background: url("../images/index/link_arraw.png") no-repeat right;
}
#main div.lf_main{
    width: 211px;
    height: 362px;
    float: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#main div.lf_main ul{
    margin-top: 5px;
    width: 102px;
    padding: 0 10px;
    line-height: 25px;
    font-size: 12px;
}
#main div.lf_main img{
    margin-top: 10px;
}
#main div.center_main{
    float: left;
    width: 791px;
    height: 362px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#main div.rt_main{
    float: left;
    width: 209px;
    height: 362px;
    border-bottom: 1px solid #ddd;
}
#main div.rt_main ul{
    height: 180px;
    width: 209px;
}
#main div.rt_main li{
    float: left;
    width: 104.5px;
    text-align: center;
    border-bottom: 1px solid #fafafa;
}